body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

@media (max-width: 600px) {
    #navbar {
        flex-direction: column;
    }

    .arrow {
        border-width: 0 8px 8px 0 !important;
        padding: 8px !important;
    }

    #projects-list {
        flex-direction: column;
        align-items: center;
    }

    .skills-entry {
        flex-direction: column;
        align-items: center;
    }

    .experience-entry {
        flex-direction: column;
        align-items: center;
    }

    #education-list {
        flex-direction: column;
        align-items: center;
    }

    #interests-list>li {
        display: block !important;
        margin: 5% 0 5% 0 !important;
    }

    .interests-img {
        max-width: 15% !important;
        height: auto !important;
    }

    .contact-icon {
        max-width: 7.5% !important;
        height: auto !important;
    }

    #social-media-list>li {
        margin: 0 1.5% 0 1.5% !important;
    }
}

#website-header {
    /* background: linear-gradient( 180deg, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.9)); */
    background-image: url("../img/header_background.png");
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2.5% 0 10px 0;
    margin-bottom: 0;
    justify-content: center;
}

#profile {
    display: flex;
    max-width: 40%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: white;
}

#profile-img {
    max-width: 30%;
    height: auto;
    border-style: solid;
    border-color: grey;
    border-width: medium;
    border-radius: 50%;
}

#profile-name {
    font-size: 2.25em;
    margin-bottom: 0;
}

#profile-header {
    font-size: 1.75em;
    margin-bottom: 0;
}

#profile-description {
    font-size: 1.5em;
}

#navbar {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(73, 74, 79, 1.0);
    overflow: hidden;
}

.nav-link {
    padding: 20px 20px 20px 20px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    background-color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.translucent {
    /* background: rgba(73, 74, 79, 0.75) !important; */
    opacity: 0.75;
}


main {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

main>article {
    padding: 7.5% 0 0 0;
}

.article-header {
    font-size: 3em;
    font-weight: bold;
}

article>.header-divider {
    max-width: 80%;
    margin-top: 2.5%;
}

section>.header-divider {
    max-width: 80%;
    margin-top: 1.5%;
    margin-bottom: 5%;
}

.section-header {
    font-size: 2em;
    font-weight: bold;
}

.section-desc {
    font-size: 1.25em;
    line-height: 1.75em;
}

#content-intro {
    background: linear-gradient(180deg, rgba(15,15,15, 1.0), rgba(15,15,15, 0.9));
    margin: 0;
    padding: 5% 0 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content-intro>header {
    max-width: 50%;
    font-size: 2.25em;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0 auto 2.5% auto;
}

.arrow {
    position: relative;
    border: solid white;
    border-width: 0 24px 24px 0;
    display: inline-block;
    padding: 24px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.pointer-down {
    animation-name: point-down;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
}

@keyframes point-down {
    0% {
        top: 0;
    }

    50% {
        top: 15%;
    }

    100% {
        top: 0;
    }
}

.small-increasing {
    position: relative;
}

.small-increasing:hover {
    animation-name: increase-small;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}

.medium-increasing {
    position: relative;
}

.medium-increasing:hover {
    animation-name: increase-medium;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes increase-small {
    100% {
        transform: scale(1.1);
    }
}

@keyframes increase-medium {
    100% {
        transform: scale(1.5);
    }
}

#projects {
    background-color: rgba(230, 230, 230, 1);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
}

#projects-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
}

.projects-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    padding: 5px 1% 5px 1%;
}

.projects-entry a {
    display: inline;
    text-decoration: none;
}

.projects-entry-img {
    max-width: 45%;
    height: auto;
}

.projects-entry-header {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 1.5em;
}

.projects-entry-desc {
    margin-bottom: 0;
    font-size: 1.15em;
}

.projects-entry-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.projects-entry-techlist {
    padding-left: 0; /* remove list indent */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    max-width: 100%;
    margin-bottom: 0;
}

.projects-entry-techlist>li {
    padding: 0 5px 0 5px;
}

#about-me {
    background-color: rgba(15,15,15, 1.0);
}

#about-me>header {
    color: white;
    margin-bottom: 7.5%;
}

#about-me>section {
    padding: 4.5% 5% 2.5% 5%;
}

#about-me .odd-section {
    background-color: rgba(23,21,24, 1.0);
    color: white;
}

#about-me .even-section {
    /*background-color: rgb(235, 235, 235);*/
    background-color: rgba(255, 255, 255, 1.0);
    color: black;
}

#personal-content {
    padding: 0 7.5% 0 7.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#personal-desc {
    margin-right: 5%;
    text-align: justify;
}

#personal-content>img {
    max-width: 40%;
    height: auto;
    margin-top: 2%;
    border-radius: 2.5%;
}

#skills-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 100%;
    padding: 0 20% 0 20%;
}

.skills-entry {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.skills-entry-title {
    grid-column: title;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-entry-header {
    grid-column: description;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 5%;
}

.skills-entry-img {
    max-width: 40%;
    height: auto;
}

.skills-entry-desc {
    align-self: center;
    font-size: 1.15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#experience-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100%;
    padding: 0 15% 0 15%;
}

.experience-entry {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
}

.experience-entry-title {
    grid-column: title;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-entry-header {
    grid-column: description;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1.25%;
}

.experience-entry-img {
    max-width: 100%;
    height: auto;
}

.experience-entry-period {
    margin-bottom: 1.25%;
}

.experience-entry-desc {
    align-self: center;
    font-size: 1.15em;
    text-align: center;
}

#education {
    padding-left: 0;
    padding-right: 0;
}

#education-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.education-entry {
    display: flex;
    max-width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.education-entry-img {
    max-width: 40%;
    height: auto;
    border-radius: 5%;
    background-color: white;
    margin-bottom: 5%;
}

.education-entry-header {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0;
}

.education-entry-entity {
    font-size: 1.15em;
    font-weight: bold;
    margin-bottom: 0;
}

.experience-entry-period {
    margin-bottom: 1.25%;
}

#interests-desc {
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
    margin-bottom: 2.5%;
}

.interests-list {
    padding-left: 0;
    list-style: none;
    margin-top: 2.5%;
}

.interests-list>li {
    display: inline;
    margin: 0 2.5% 0 2.5%;
}

.interests-img {
    max-width: 7.5%;
    height: auto;
}

#website-footer {
    margin-top: 0;
    padding: 3.5% 5% 1% 5%;
    /*background-color: rgb(43, 45, 66);*/
    background: linear-gradient(180deg, rgba(43, 45, 66, 0.85), rgba(33, 35, 56, 0.95));
    text-align: center;
    color: white;
}

#contact>p {
    font-size: 1.5em;
}

.contact-icon {
    max-width: 3%;
    height: auto;
}

#social-media-list {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

#social-media-list>li {
    display: block;
    margin: 0;
    padding: 0;
}

.social-media-icon {
    max-width: 40%;
    height: auto;
}

#techs-and-tools {
    margin-top: 3.5%;
}

#techs-and-tools>p {
    font-size: 1.25em;
}

#attributions>header {
    font-size: 1.25em;
}

#attributions>ul {
    padding-left: 0;
    list-style: none;
}

.attribution {
    --link-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.attribution a {
    color: var(--link-color, white);
}

.attribution a:checked {
    color: var(--link-color, white);
}

#copyright {
    font-size: 1.15em;
    font-weight: normal;
    text-align: right;
    padding: 0;
    margin: 1% 0 0 0;
}